PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=Nakeeran@2004
DB_NAME=nanbenda
JWT_SECRET=sKfldivTVqFQllVJtZNo9RRBRoSWfvquQhdQvauo
GOOGLE_GEN_AI_KEY=your_gemini_api_key_here
NODE_ENV=development
PUBLIC_URL=http://localhost:5000
